.calculator {
  height: 500px;
  width: 500px;
  background: linear-gradient(to bottom right, red, yellow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  text-align: center;
  line-height: 100px;
}
span {
  font-size: 2.5rem;
  margin: 50px;
  padding: 5px;
  border: 1px solid black;
}
.line {
  margin: 50px;
}
.symbol {
  position: relative;
  margin: 10px;
  font-size: 32px;
  right: 30px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  border: none;
}
.minus {
  padding: 15px;
}
.equal {
  font-size: 2.6rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.158);
  padding: 5px;
}
